<?xml version="1.0"?>

<launch>

    <!-- HEAD REF SERVER -->
    <node name="head_ref" pkg="head_ref" type="head_ref" output="screen" />

    <node name="head_ref_client_look_around" pkg="head_ref" type="look_around_client" output="screen">
        <rosparam file="$(find head_ref)/params/look_around.yaml" command="load" />
    </node>

</launch>
